@{
    ViewBag.Title = "Registration";
}
<!DOCTYPE html>
<html>


<body>

<div>
<h2>Registration</h2>
    <form action="../api/Account/Registracija" method="post">
                    <p>Unesite podatke za registraciju:</p>
                    <p>First Name: <input type="text" name="name"></p>

                    <p>Last Name: <input type="text" name="lastname"></p>

                    <p>Position: <select name="position">
                                <option>Postion1</option>
                                <option>Postion2</option>
                                <option>Postion3</option>
                                <option>Postion4</option>
                                <option>Postion5</option>
                                </select>

                    <p>User Name: <input type="text" name="username"></p>

                    <p>Password: <input type="password" name="password"></p>
                    

        <input type="submit" style="color:#7debbc"  value="Registracija" >
                    </form>


</div>

</body>
    </html>