<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome</title>

    <script src="Scripts/angular-translate.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-cookies.min.js"></script>
    <script src="Scripts/angular-translate.min.js"></script>
    <script src="Scripts/angular-translate-loader-url.js"></script>
    <script src="Scripts/angular-translate-loader-url.min.js"></script>
</head>

<body class="ng-scope" ng-app="BasicHttpAuthExample">

    <div style="position:static; left:0;">
        <div my-profile></div>
    </div>
    <h1>{{ 'WELCOME' | translate }} </h1>
    <p>{{ 'LOGGED_IN' | translate }}</p>
    <p><a href="#/posao">Posao</a></p>
</body>
</html>
