<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="left:0; top:0">
        <div my-profile></div>
    </div>
    <div style="position:relative; right:0; top:0">
        <p><a href="#/upload">{{'CHANGEPICTURE' | translate }}</a></p>
    </div>
    <div ng-controller="LineCtrl" class="ng-scope">
        <canvas id="line" class="chart chart-line" data="{{data}}"
                labels="{{labels}}" legend="true" series="{{series}}"
                ></canvas>
    </div>
    <div admin-dashboard></div>
</body>
</html>
