<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Online kopirnica</title>
    <link rel="stylesheet" href="Content/Site.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Modules/Posao/posaoControllers.js"></script>
    <script src="Modules/Posao/posaoServices.js"></script>
    <script src="Modules/Upload/uploadController.js"></script>
    <script src="Modules/Authentication/loginControllers.js"></script>
    <script src="Modules/Authentication/loginServices.js"></script>
    <script src="Modules/Home/homeControllers.js"></script>

    <script type="text/javascript">
        function pokaziSakrij(objectId) {
            var O = document.getElementById(objectId);
            var S = document.getElementById(objectId + 's');
            if (O.style.display == 'inline-block') {
                O.style.display = 'none';
                S.innerText = '+';
            } else {
                O.style.display = 'inline-block';
                S.innerText = '-';
            }
        }
    </script>

    <style>
        #menu tr td a {
            display: inline-block;
            max-width: 100px; /* 'X' minus gutter */
            width: 100px; /* 'X' minus gutter */
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        #menu tr td {
            margin: 0px;
            padding: 0px;
            list-style: none;
            white-space: nowrap;
            display: inline-block;
            width: 100px; /* 'X' */
            align-content:center;
        }
    </style>
</head>

<body class="ng-scope" ng-app="BasicHttpAuthExample">

    <script src="Scripts/angular-translate.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-cookies.min.js"></script>
    <script src="Scripts/angular-translate.min.js"></script>
    <script src="Scripts/angular-translate-loader-url.js"></script>
    <script src="Scripts/angular-translate-loader-url.min.js"></script>
    <script src="Modules/Direktive/DzenyDirective.js"></script>
    <script src="Modules/Direktive/meniDirektiva.js"></script>

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="">Online kopirnica</a>
                </p>
            </div>
            <div style="float:right; position:absolute; right:0" ng-controller="Ctrl">
                <div meni-direktiva></div>
                <!--<table id="menu">
                    <tr>
                        <td align="center"><a href="Home/">Home</a></td>
                        <td align="center"><a href="Help/">API</a></td>
                        <td align="center"><a href="index.html#/">{{'LOGIN' | translate }}</a></td>
                        <td align="center"><a href="index.html#/registration">{{'REGISTER' | translate }}</a></td>
                        <td align="center">
                            <a class="btn-link ng-scope" ng-click="changeLanguage('bos_BOS')">
                                <img src="Images/ba.png" />
                            </a>
                        </td>
                        <td align="center">
                            <a class="btn-link ng-scope" ng-click="changeLanguage('en_EN')">
                                <img src="Images/eng.png" />
                            </a>
                        </td>
                    </tr>
                </table>-->
            </div>
        </div>
    </header>
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
                <div ng-view>
                </div>
            </div>
        </div>
    </div>

    <div class="credits text-center">
        <p>
            <b> Copyright &copy; 2015 (Riki, Kera, Javoraš, Snježa, Dž-Šefica) </b>
        </p>

    </div>
</body>

</html>