<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Cijena_kom_PDV: 0
    Cijena_komad: 0
    DTP: 0
    DTP_ID: 0
    Datum: "0001-01-01T00:00:00"
    Dorada: null
    ID: 0
    Knjigovodstvena_dorada_ID: 0
    Knjigovodstvena_usluga: false
    Korisnik_ID: 0
    Materijalni_troskovi: 0
    Montaza: false
    Montaza_ID: 0
    Montaza_posla: null
    Obim_posla: 0
    Papir: null
    Popust: false
    Rad: 0
    Repromaterijal: false
    Repromaterijal_ID: 0
    Rucni_rad: false
    Rucni_rad_ID: 0
    Stampa: false
    Stampa_ID: 0
    Status_posla: false
    Ukupna_cijena: 0
    Ukupna_cijena_PDV: 0
    Vanjska_usluga: false
    Vrsta_posla: null


    DTP_ID: 15
    Fotografija_cijena: 1
    Fotografija_materijal: "1"
    Fotografija_sati: 1
    Komentar: "n"
    Korisnik_ID: 1
    Sofp_cijena: 2
    Sofp_materijal: "1"
    Sofp_sati: 3
    Status_DTP: 0
    Ukupno_cijena: 0
    Ukupno_sati: 0
    Vrijeme_cekanja: "2015-05-06T02:59:02.557"
    Vrijeme_pocetka: "2015-05-06T02:59:02.557"
    Vrijeme_zavrsetka: "2015-05-06T02:59:02.557"
</body>
</html>
