<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div id="body" class="ng-scope" @*ng-app="angularTranslateApp"*@>

  



    <div class="content-wrapper" ng-style="{'background-color':'#7debbc', 'height':'700px'}">
        <hgroup class=" title" ng-style="{'background-color':'lightgreen'; 'width':'100%'}">
            <h1>Online kopirnica</h1>
            <hr />
            <h2>Online kopirnica is a website made by ETF students to improve their knowledge</h2>
        </hgroup>
        <p>
            ASP.NET Web API allows you to expose your applications, data and services to the
            web directly over HTTP.
        </p>
      
     <div>   <img src="~/Images/kopirnica.jpg" alt="Description" style="float:left;margin-top:35px;" class="img-responsive " /> </div>
        <div style="margin-left:650px;margin-top:60px;margin-right:20px;border:dotted;border-color:gray"><h3>
    Posebna ponuda za studente, samo 0.03 KM po stranici! Uvijek uz Vas, Vaša online kopirnica!
</h3> </div>

        <div style="margin-left:650px;margin-top:30px;margin-right:20px;border:dotted;border-color:gray">
            <h3>
               Novo u ponudi, izrada poklon rokovnika!
            </h3>
        </div>

        <div style="margin-left:650px;margin-top:30px;margin-right:20px;border:dotted;border-color:gray">
            <h3>
                Obavještavamo cijenjene klijente da je izdat novi cjenik usluga.
            </h3>
        </div>
    </div>
   
    </div>



    <section class="featured">



    </section>






</div>
