<div id="body" class="ng-scope" @*ng-app="angularTranslateApp"*@>

  



    <div class="content-wrapper" ng-style="{'background-color':'#7debbc'}">
        <hgroup class=" title" ng-style="{'background-color':'lightgreen'; 'width':'100%'}">
            <h1>Online kopirnica</h1>
            <hr />
            <h2>Online kopirnica is a website made by ETF students to improve their knowledge</h2>
        </hgroup>
        <p>
            ASP.NET Web API allows you to expose your applications, data and services to the
            web directly over HTTP.
        </p>
        <p>

        </p>

    </div>

    </div>



    <section class="featured">



    </section>






</div>
