<div id="body" class="ng-scope" ng-app="angularTranslateApp">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Online kopirnica</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>

        </div>
    </section>


    <!--li>
        <form action="../api/Account/Login" method="post">
            <input type="text" name="username" value="user" />
            <input type="password" name="password" value="user" />
            <input type="submit" value="Login"/>
        </form>

    </!li-->

    <script src="../../../Scripts/angular-translate.js"></script>
    <script src="../../../Scripts/angular.js"></script>
    <script src="../../../Scripts/app.js"></script>
    <script src="../../../Scripts/angular-translate.min.js"></script>

    <script src="/js/angular-translate-loader-url.min.js"></script>
    <div ng-controller="Ctrl" class="ng-scope">
        <button class="btn ng-scope" ng-click="changeLanguage('bos_BOS')" translate="BUTTON_BOS">Bosanski</button>
        <button class="btn ng-scope" ng-click="changeLanguage('en_EN')" translate="BUTTON_EN">Engleski</button>
    </div>
   

    <p>{{ 'GREETING' | translate }}</p>

</div>
