<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Radni nalog</title>
</head>
<body>
<table style="width:100%">
  <tr>
    <th>Broj</th>
    <th>Rok</th>
    <th>Datum otvaranja</th>
  </tr>
  <tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
</table>
    
<table style="width:100%">
  <tr>
    <td>Kupac</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Vrsta posla</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Obim</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Format</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Štampa</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Tiraž</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Papir</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Dorada</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Montaža</td>
    <td>&nbsp</td>
  </tr>
</table>

    <table style="width:100%">
    <caption>Potreban repromaterijal</caption>

  <tr>
    <th>Broj</th>
    <th>Vrsta</th>
    <th>Komentar</th>
    <th>Količina</th>
  </tr>
  <tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
         <tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
          <tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
          <tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
          <tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
          <tr>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
</table>
OPIS PROCESA PROIZVODNJE
    <table style="width:100%">
  <tr>
    <th>DTP</th>
    <th>Sati</th>
  </tr>
  <tr>
    <td>Skeniranje i obrada fotog. prelom.</td>
    <td>&nbsp</td>
  </tr>
</table>
        <table style="width:100%">
  <tr>
    <th>MONTAŽA</th>
    <th>Sati</th>
  </tr>
  <tr>
    <td>Snimanje i obrada p.</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Montaža</td>
    <td>&nbsp</td>
  </tr>
</table>
        <table style="width:100%">
  <tr>
    <th>ŠTAMPA</th>
    <th>Sati</th>
  </tr>
  <tr>
    <td>GTO četverobojni</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>HD B2 1.0</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>GTO B3 1.0</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Numeracija i perforacija GTO</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Grafopres</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Xeikon</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Xerox</td>
    <td>&nbsp</td>
  </tr>
</table>
<table style="width:100%">
  <tr>
    <th>Vanjska usluga</th>
    <th>Sati</th>
  </tr>
  <tr>
    <td>Obračun kalulacije</td>
    <td>&nbsp</td>
  </tr>
</table>
<table style="width:100%">
  <tr>
    <th>Knjigovodstvena dorada</th>
    <th>Sati</th>
  </tr>
  <tr>
    <td>Nož</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Falc mašina</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Klamarica</td>
    <td>&nbsp</td>
  </tr>
    <tr>
    <td>Perforiranje + bigovanje</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Plastificiranje</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Blinder</td>
    <td>&nbsp</td>
  </tr>
    <tr>
    <td>Spiralni uvez</td>
    <td>&nbsp</td>
  </tr>
</table>
<table style="width:100%">
  <tr>
    <th>Ručna dorada</th>
    <th>Sati</th>
  </tr>
  <tr>
    <td>Slaganje</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Ručno savijanje</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Lijepljenje</td>
    <td>&nbsp</td>
  </tr>
    <tr>
    <td>Pakovanje</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Razno</td>
    <td>&nbsp</td>
  </tr>
</table>
<table style="width:100%">
  <tr>
    <td>Štampa</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Montaža</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Mašinska dorada</td>
    <td>&nbsp</td>
  </tr>
      <tr>
    <td>Ručna dorada</td>
    <td>&nbsp</td>
  </tr>
</table>
<table style="width:100%">
  <tr>
    <td>Napomena</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>Potpis odgovorne osobe</td>
    <td>&nbsp</td>
  </tr>
   <tr>
    <td>Datum zaključavanja</td>
    <td>&nbsp</td>
  </tr>
</body>
</html>
